!!!
%html
  %head
    %title Tempest Watch
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/materialize.min.css',  media:'screen,projection'}
    %link{type: 'text/css', rel: 'stylesheet', href: 'css/tempest.css',  media:'screen,projection'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
  %body
    %header
      %nav
        .nav-wrapper.container
          %a.brand-logo{:href => "#"} Tempest Watch
    %main
      .container
        = yield

    %footer.page-footer
      .container
        .row
          .col.l6.s12
            %p.grey-text.text-lighten-4
              This site is fan-made and is not affiliated with Grinding Gear Games in any way.
            %p.grey-text.text-lighten-4
              Developed by Justin Vanderheide
            %p.grey-text.text-lighten-4
              Contribute on
              %a.blue-text.text-darken-3{href: 'https://github.com/jayvan/tempest-watch'} GitHub
          .col.l6.s12
            %h5.white-text Built with
            %ul
              %li
                %a.blue-text.text-darken-3{:href => 'http://materializecss.com/'} Materialize
              %li
                %a.blue-text.text-darken-3{:href => 'http://redis.io/'} Redis
              %li
                %a.blue-text.text-darken-3{:href => 'http://www.sinatrarb.com/'} Sinatra

    %script{type: 'text/javascript', src: 'js/jquery-2.1.4.min.js'}
    %script{type: 'text/javascript', src: 'js/materialize.min.js'}

    :javascript
      $(document).ready(function() {
        // Setup materialize nonsense
        $('select').material_select();
        $('ul.tabs').tabs();

        // Set up the report form the use XHR
        var reportForm = $('#report form') ;
        reportForm.submit(function(e) {
          e.preventDefault();

          if (reportForm.serializeArray().length != 4) {
            return;
          }

          debugger
          $.post('api/vote',
            reportForm.serialize(),
            function(data) {
              reportForm[0].reset();
              $('#reported').openModal();
            });
        });

        var minuteSpan = $('#minutes-left');
        var secondSpan = $('#seconds-left');

        // Set up the countdown
        var resetTime = new Date(Date.now() + #{seconds_to_reset * 1000});
        var timerUpdate = setInterval(function() {
          var secondsToReset = Math.floor((resetTime - Date.now()) / 1000);
          if (secondsToReset < 0) {
            window.location.reload();
            clearInterval(timerUpdate);
            return;
          }
          var minutesLeft = Math.floor(secondsToReset / 60);
          var secondsLeft = secondsToReset - minutesLeft * 60;
          var secondsLeftPadded = ("0" + secondsLeft).slice(-2);
          minuteSpan.text(minutesLeft);
          secondSpan.text(secondsLeftPadded);
        });
      });
