header {
  margin-bottom: 10px;
}

nav, footer.page-footer {
  background-color: #333333;
}

#maps {
  background-color: #FFFFFF;
}

th,
td {
  padding: 10px 20px;
}

tr {
  background-color: rgba(0, 0, 0, 0.05);
}

tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.0);
}

tr.dangerous {
  background-color: rgba(240, 5, 17, 0.2);
}

tr.great {
  background-color: rgba(127, 242, 38, 0.3);
}

tr.none {
  background-color: rgba(0, 0, 0, 0.2);
}

.toast {
  background-color: #2bbbad;
}

.votes {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  background-color: #26a69a;
  border-radius: 2px;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
}
